.work {
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
}

.carousel-item{
    height: 500px;

    img{
        height: 500px;
    }

    .carousel-caption{
        background: rgb(221, 226, 248);
        color: black;
        border-radius: 20px;
    }
} 